<h1>Calculate Square Root</h1>

<form action="/square_root/results" method="post">
  <%= csrf_meta_tag %> 

  <label for="user_number">Enter a number:</label>
  <input type="text" id="user_number" name="number" required>

  <button type="submit">Calculate square root</button>
</form>
